* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: auto;
    height: 600px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mucluc{
    margin: 20px 0 0 0 ;
}
a{
    text-decoration: none;
}
.c1{
    margin: 20px 0 0 0;
}
a:hover{
    color: red;
}
.c1 a{
    margin: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.c1a{
    padding: 0 8px;
    color: black;
}
.gioithieu{
    text-indent: 30px;
    margin: 10px 10px;
}
.chap{
    background-color: darkcyan;
    width: 80%;
    margin: 100px 50px ;

}

.ch{
    margin-top: 150px;
    color: #e4e6eb;
    font-weight: bold;
}

.img-ch{
    height: 300px;
    width: 500px;
    margin: 20px 0px;
}

.d {
    text-indent: 30px;
    color: #2c0b0e;
    font-weight: bold;
    font-size: 25px;
}