* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 5px;
}

.menu ul li {
    padding: 10px;
    margin: 5px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

section {

}

.ar1 {
    background-color: gray;
    float: left;
    width: 20%;
    height: 650px;
}

.ar2 {
    background-color: gray;
    float: right;
    width: 20%;
    height: 650px;

}

.ar1 ul li {
    text-align: center;
    margin-top: 20px;
}

.ar1 ul li a {
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover {
    color: blue;
}

.ar2 .d1 {
    background-color: tan;
}

.ar2 .d1 {
    margin: 20px;
    padding: 50px;
    text-align: center;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

.d1:hover {
    background-color: darkblue;
}

#content {
    float: left;
    width: 58%;
    margin: 10px;
}

footer {
    background-color: black;
    clear: both;
    /*!*color: white;*!*/
    /*!*padding: 100px;*!*/
    /*!*height: 200px;*!*/
    /*text-align: center;*/
}

footer p {
    text-align: center;
    color: white;
    width: 100%;
    padding: 37px 0;
}